.bootswatch h1 {
    font-size: 2.33em;
}

.bootswatch h2 {
    font-size: 1.83em;
}

.bootswatch h3 {
    font-size: 1.50em;
}

.bootswatch h4 {
    font-size: 1.33em;
}

.bootswatch h5 {
    font-size: 1.16em;
}

.bootswatch h6 {
    font-size: 1em;
}